{% extends 'store/main.html' %}

{% load static %}

{% block content %}

  {% if page == 'login' %}
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h3>Sign In to <strong>Mill Furniture</strong></h3>
                  <p class="mb-4">Enter Details</p>
                </div>
                <form action="#" method="post">

                  {% csrf_token %}
                  <div class="form-group first">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" id="username" name = 'email'>

                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name = "password">
                    
                  </div>
                  
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    
                    
                  </div>

                  <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">

                  <span class="d-block text-center my-4 text-muted"> or sign in with</span>
                  
                  <div class="social-login text-center">
                    <a href="#" class="facebook">
                      <span class="icon-facebook mr-3"></span> 
                    </a>
                    <a href="#" class="twitter">
                      <span class="icon-twitter mr-3"></span> 
                    </a>
                    <a href="#" class="google">
                      <span class="icon-google mr-3"></span> 
                    </a>
                  </div>
                  <div><a href = "{% url 'register' %}" style = "font-size:20px">register</a></div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>


  {% else %}
  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h3>Sign up<strong></strong></h3>
                  <p class="mb-4">Enter Details</p>
                </div>
                <form action="#" method="post">

                  {% csrf_token %}
                  
                  {% for field in form %}

                  <div class="form-group first">
                    <label for="username">{{field.label}}</label>
                      {{field}}

                  </div>

                  {% endfor %}

                 
                  

                  
                  
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    
                  </div>
                    
                  <input type="submit" value="Create" class="btn btn-pill text-white btn-block btn-primary">

                  <span class="d-block text-center my-4 text-muted"> or sign in with</span>
                  
             
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  
  </div>
  
  {% endif %}


  

  
   

{% endblock %}